# package.json "files" is the release allowlist: dist, docs, site, python, README,
# LICENSE, and NOTICE. Do not exclude docs or NOTICE here.
node_modules/
src/
tests/
coverage/
.github/
.git/
.idea/
.vscode/
.env
.env.*
*.log
*.tgz
*.sqlite
*.sqlite-*
*.sqlite3
*.sqlite3-*
*.db
*.db-*
.DS_Store
Thumbs.db
